html, body {
height: 100%;
margin: 0;
padding: 0;
min-width: 960px;
}

body {
font-family: "Gill Sans", "Gill MT", GillSans, sans-serif;
color: #2D5F8A;
}

a {
text-decoration: none;
color: #2D5F8A;
}

#BB_wrapper {
width: 100%;
min-height: 100%;
margin: 0 auto;
position: relative;
}

#BB_header, #BB_body, #BB_footer {
width: 100%;
}

.clean {
clear: both;
}

#BB_header {
display: block;
height: 180px;
position: relative;
}

#BB_header h1 {
position: absolute;
top: -70px;
font-size: 180pt;
color: #91BEE5;
margin: 0;
padding: 0;
z-index: -1;
}

#BB_tools {
position: absolute;
margin-top: 108px;
width: 100%;
}

#BB_tools ul {
background: #fff;
list-style: none;
margin: .3em 0;
padding: 0;
width: 100%;
border-top: solid 3px #2D5F8A;
border-bottom: solid 3px #2D5F8A;
}

#BB_tools ul li {
background:#FFFFFF none repeat scroll 0 0;
display:table-cell;
font-size:12pt;
margin:0;
padding:5px 25px;
text-align:center;
border-right:3px solid #2D5F8A;
height:100%;
}

#BB_body {
padding: 20px 0;
}

.sidebar {
width: 140px;
border: solid 3px #2D5F8A;
margin: 0 7px;
}

.sidebar_menu h2 {
width: 100%;
font-size: 1.2em;
background: #2D5F8A;
color: #fff;
text-align: center;
margin: 0;
padding; 0;
}

.sidebar_menu ul {
list-style: none;
margin: 0;
padding: 0;
}

.sidebar_menu ul li {
height: 1.5em;
border-top: solid 3px #2D5F8A; 
text-align: center;
}

.sidebar_menu ul li:hover, #BB_tools ul li:hover {
background: #2D5F8A;
}
.sidebar_menu ul li:hover a, #BB_tools ul li:hover a {
color: #fff;
}

#main_sidebar_menu, #BB_left_sidebar {
display: block;
float: left;
}

#modelNav_sidebar_menu, #BB_right_sidebar {
display: block;
float: right;
}

#BB_main {
border: solid 3px #2D5F8A;
min-width: 600px;
background: #fff;
margin: 0 7px;
margin-left: 160px;
margin-right: 160px;
padding: 10px;
}

#BB_main_content {
width: 100%;
float: left;
}

#BB_main_left {
width: 565px;
float: left;
border: solid 3px #2D5F8A;
margin: 0 7px;
}

#BB_main_right {
float: right;
width: 175px;
border: solid 3px #2D5F8A;
margin: 0 7px;
}

#BB_footer {
border-top: solid 3px #2D5F8A;
text-align: center;
position: absolute;
bottom: 0;
}

#license_block {
font-size: 6pt;
}

.BB_option_name {
display: block;
float: left;
clear: both;
width: 300px;
height: 1.5em;
margin: 5px;
border: solid 3px #2D5F8A;
}

.BB_option_button {
display: block;
float: left;
width: 65px;
height: 1.5em;
margin: 5px;
border: solid 3px #2D5F8A;
background: #2D5F8A;
color: #fff;
}

.BB_option_button:hover {
color: #2D5F8A;
background: #fff;
}

/* breadcrumbs */

.breadcrumblist {
padding-left: 2px;
margin-bottom: 10px;
}

.breadcrumblist li {
display: block;
list-style-type: none;
float: left;
}

.breadcrumblist li + li:before {
content: "\00a0:";
font-weight: bold;
}

.breadcrumblist a:hover {
text-decoration: underline;
}


/* LISTING TABLES */

.index-listing {
width: 90%;
margin: 5px auto;
border: 2px solid #2D5F8A;
border-collapse: collapse;
}

.index-listing th {
text-align: left;
}

.index-listing tbody tr {
background: #C9DDEE;
height: 2em;
}

.index-listing tbody tr.y_even {
background: #fff;
}

.index-listing ul {
list-style: none;
padding: 0;
margin: 0;
}

.index-listing ul li {
display: inline;
float: left;
}

.action a {
display: block;
}

.action a img {
border: 0;
padding: 0;
margin: 0;
}