
/* Install Table */

#table_phpversion, #table_extensions_test {
width: 420px;
}

#table_phpversion .label {
width: 320px;
}

#table_extensions_test .label {
width: 133px;
}

#table_phpversion .version {
width: 80px;
}

#table_extensions_test .requirementLevel {
width: 133px;
}

#table_extensions_test .status {
width: 134px;
}

table .result {
width: 20px;
text-align: center;
vertical-align: top;
}

.status, .version {
font-weight: bold;
text-align: right;
}

.test_passed .status, .test_passed .version {
color: #3c0;
}

.test_failed .status, .test_failed .version {
color: #f30;
}

.requirement_required .requirementLevel {
color: #930;
}

.requirement_recommended .requirementLevel {
color: #d80;
}

/* Install .htaccess */

#thing_htaccess {
width: 500px;
}
