.mf-toggle-open, .mf-toggle-close {
cursor: pointer;
}

.mf-toggle-open:before {
content: "\00a0+\00a0\00a0";
}

.mf-toggle-close:before {
content: "\00a0\2212\00a0\00a0";
}

textarea.bigtext {
width: 600px;
height: 300px;
}

textarea.fulltext {
width: 99%;
height: 400px;
}