form fieldset > input,select,textarea {
	display: block;
	width: 220px;
	float: left;
	margin-bottom: 10px;
}

form fieldset > label {
	text-align: right;
	padding-right: 25px;
	display: block;
	width: 160px;
	float: left;
	margin-bottom: 10px;
}

form fieldset > label.error {
	color: red;
	font-family: "VegurBold";
}

form br {
	clear: left;
}

form div.intro {
	margin-left: 10px;
	margin-bottom: 10px;
}

form fieldset fieldset {
	width: 33%;
	float: left;
	display: block;
}