.breadcrumbs {
display: block;
width: 100%;
height: 1em;
}

.breadcrumblist {
padding-left: 2px;
margin-bottom: 10px;
}

.breadcrumblist li {
display: block;
list-style-type: none;
float: left;
}

.breadcrumblist li + li:before {
content: "\00a0:";
font-weight: bold;
}

.breadcrumblist a:hover {
text-decoration: underline;
}
