form#AddPage fieldset > input,select,textarea {
	display: block;
	width: 300px;
	float: left;
	margin-bottom: 10px;

}

form#AddPage fieldset > textarea {
	height: 70px;
}

/*
form#AddPage fieldset > label {
	text-align: right;
	padding-right: 85px;
	display: block;
	width: 100px;
	float: left;
	margin-bottom: 10px;	
	clear: left;	
}
*/
form#AddPage fieldset > label.formError {
	color: red;
}

form#AddPage br {
	clear: left;
}


form#AddPage div.intro {
	margin-left: 10px;
	margin-bottom: 10px;
}

textarea#AddPage_content_label{
	width: 0px;
}


textarea#AddPage_content {
width: 565px;
	margin-left: 10px;
}