<div class="meta">
{% if model.type %}
	<div class="meta_item">
	<span class="meta_label"><strong>Type:</strong></span>
	<span class="meta_content">{{ model.type }}</span>
	</div>
{% endif %}
{% if model.id %}
	<div class="meta_item">
	<span class="meta_label"><strong>ID:</strong></span>
	<span class="meta_content">{{ model.id }}</span>
	</div>
{% endif %}
{% if model.name %}
	<div class="meta_item">
	<span class="meta_label"><strong>Name:</strong></span>
	<span class="meta_content">{{ model.name }}</span>
	</div>
{% endif %}
{% if model.title %}
	<div class="meta_item">
	<span class="meta_label"><strong>Title:</strong></span>
	<span class="meta_content">{{ model.title }}</span>
	</div> 
{% endif %}
{% if model.owner %}
	<div class="meta_item">
	<span class="meta_label"><strong>Author:</strong></span>
	<span class="meta_content">{{ model.owner }}</span>
	</div> 
{% endif %}
{% if model.createdOn %}
	<div class="meta_item">
	<span class="meta_label"><strong>Creation Time:</strong></span>
	<span class="meta_content">{{ model.createdOn|date('h:i:s a m/d/y') }}</span>
	</div> 
{% endif %}
{% if model.lastModified and model.lastModified != model.createdOn %}
	<div class="meta_item">
	<span class="meta_label"><strong>Last Modified:</strong></span>
	<span class="meta_content">{{ model.lastModified|date('h:i:s a m/d/y') }}</span>
	</div> 
{% endif %}
{% if model.publishDate and model.publishDate != model.createdOn %}
	<div class="meta_item">
	<span class="meta_label"><strong>Publish Date:</strong></span>
	<span class="meta_content">{{ model.publishDate|date('h:i:s a m/d/y') }}</span>
	</div> 
{% endif %}
{% block extraadmincontent %}
{% endblock %}
</div>
