.meta, .meta_item {
display: block;
width: 100%;
position: relative;
}

.meta {
margin-bottom: 2em;
}

.meta_item {
margin-bottom: 3px;
}

.meta_label {
max-width: 200px;
overflow: hidden;
}

.meta_content {
position: absolute;
left: 200px;
}
