.dashboard {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.dashboard_widget {
	position: relative;
	width: 450px;
	border: solid #2D5F8A 2px;
	margin: 5px;
	padding: 5px;
	float: left;
	height: 350px;
}

.dashboard_widget.two_wide {
	width: 923px;
}

.dashboard_widget.two_tall {
	height: 723px;
}

.dashboard_settings_link {
	font-size: .6em;
	position: absolute;
	bottom: 2px;
	right: 2px;
}