.dashboard {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.dashboard_widget {
	position: relative;
	width: 450px;
	border: solid #2D5F8A 2px;
	margin: 5px;
	padding: 5px;
	float: left;
	height: 350px;
	overflow: hidden;
}

.dashboard_widget.two_wide {
	width: 923px;
}

.dashboard_widget.two_tall {
	height: 723px;
}

.dashboard_links {
	display: none;
	position: absolute;
	bottom: 2px;
	right: 2px;
}

.dashboard_links form {
	display: inline;
}

.dashboard_links button {
	border: 0;
	margin: 0;
	padding: 0;
	background: none;
	display: inline;
	font-size: 8pt;
	color: #aaa;
	background-color: transparent;
}

.dashboard_widget:hover .dashboard_links {
	display: block;
}